.container__card{
    width: 400px;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI';
    justify-content: flex-start;
}

.card__photo > img {
    border-radius: 8px;
    min-width: 380px;
    width: 100%;
}

.card__title > h1 {
    font-size: 22px;
    margin-top: 15px;
}

.card__description {
    margin: 20px 0 0 10px;
}

.card__description > p > a {
    margin-top: 10px;
    color: gray;
}